.git
.github
.repos
Dockerfile
compose.yaml
.t3
.turbo
.vite-plus
.bun
.pnpm-store
node_modules
**/node_modules
**/dist
**/dist-electron
**/.expo
**/.next
**/.astro
**/target
artifacts
build
release
release-mock
squashfs-root
*.log
.env
.env.*
!.env.example
