<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

  <application
    android:name=".NativeAndroidApplication"
    android:allowBackup="false"
    android:label="T3 Code Native"
    android:theme="@style/Theme.T3CodeNative"
    android:usesCleartextTraffic="true"
    android:supportsRtl="true">
    <activity
      android:name=".MainActivity"
      android:exported="true"
      android:launchMode="singleTask"
      android:windowSoftInputMode="adjustResize">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <!-- Clerk Android OAuth return: clerk://<applicationId>.callback -->
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data
          android:scheme="clerk"
          android:host="com.t3tools.t3code.native.experimental.callback" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data
          android:scheme="clerk"
          android:host="com.t3tools.t3code.native.experimental"
          android:pathPrefix="/callback" />
        <data
          android:scheme="clerk"
          android:host="com.t3tools.t3code.native.experimental"
          android:pathPrefix="/oauth" />
      </intent-filter>
    </activity>
  </application>
</manifest>
